<div class="container">

  <h2>El projecte OmegaT</h2>
  <p>El projecte OmegaT està mantingut per un grup informal i internacional de voluntaris. El seu objectiu és desenvolupar, distribuir i promoure l'ús de l'OmegaT, una eina de programari de memòries de traducció de codi obert.</p>
  <p>Els membres principals del projecte són:</p>
  <div class="text-md-center">
    <h3>Autor original de l'aplicació OmegaT</h3>
    <p>Keith Godfrey</p>
    <h3>Coordinador del projecte</h3>
    <p>Aaron Madlon-Kay</p>
    <h3>Desenvolupador principal</h3>
    <p>Alex Buloichik</p>
    <h3>Gestor de la integració</h3>
    <p>Aaron Madlon-Kay</p>
    <h3>Gestor del lloc web</h3>
    <p>Briac Pilpré</p>
    <h3>Gestor de la documentació</h3>
    <p>Vincent Bidaux</p>
    <h3>Gestor de la localització, propietari del grup d'usuaris</h3>
    <p>Kos Ivantsov</p>
    <h3>Desenvolupadors</h3>
    <ul class="list-unstyled">
      {% for dev in site.data.contributors %}
      {% if dev.name.size &gt; 0 %}<li>{{ dev.name }}</li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="text-md-center">
    <h3>Creació del contingut del lloc web</h3>
    <ul class="list-unstyled">
      {% for author in site.data.credits.website %}
        <li>{{ author }}</li>
      {% endfor %}
    </ul>

    {% if site.lang != "en" %}
    <h3>Traducció de la versió en anglès</h3>
    <ul class="list-unstyled">
      {% for translator in site.data.credits.translators[site.lang] %}
        <li>{{ translator }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    </div>

  <p>La filosofia del projecte es descriu <a href="philosophy.html">aquí</a>.</p>
  <p>Des dels inicis del projecte, ha rebut el suport de desenes d'altres col·laboradors. Són massa nombrosos per a esmentar-los aquí, però els estem molt agraïts per la seva ajuda.</p>
</div>
