<div class="container">

<p class="lead">以下のリンクから、さまざまなバージョンの OmegaT を入手できます。ダウンロードするバージョンがわからない場合は、<a
href="#download-wizard" data-toggle="collapse">ダウンロードセレクタ</a>を使用できます。</p>

<div id="download-wizard" class="panel panel-primary collapse">
  <div class="panel-heading">
    <h3 class="panel-title">OmegaT ダウンロードウィザード</h3>
  </div>
  <div class="panel-body">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills">
            <li>
              <a href="#tab-install-type" data-toggle="tab">インストールの種類</a>
            </li>
            <li>
              <a href="#tab-version" data-toggle="tab">バージョン</a>
            </li>
            <li>
              <a href="#tab-operating-system" data-toggle="tab">オペレーティング・システム</a>
            </li>
            <li>
              <a href="#tab-jre" data-toggle="tab">JRE</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab-install-type">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="traditional" name="optType"/>通常インストール</label>
          <p>このパッケージは、ユーザーの手によってインストール作業が実行されます。以前からの OmegaT ユーザーには、おなじみの方法です。迷っているなら、このパッケージを選んでください。</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="webstart" name="optType"/>Web Start</label>
          <p>Web Start 版は、「世話要らず」なパッケージです。<br/><strong>利点</strong>:Web Start Web Startバージョンの今後の更新が自動的にコンピュータにインストールされます。<br/><strong>欠点</strong>: 現時点では、このバージョンをプラグインと組み合わせて使用することはできないため、すべての機能が使用可能になっているわけではありません。</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-operating-system">
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optWindows" value="windows" name="optOS"/>Windows</label>
          <p>Windows システムへのインストール用。</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optOsx" value="osx" name="optOS"/>macOS</label>
          <p>macOSへのインストール用</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optLinux" value="linux" name="optOS"/>Linux</label>
          <p>Linux へのインストール用</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="other" name="optOS"/>その他</label>
          <p>その他の OS（FreeBSD や Solaris など）へのインストール用<br/><i>OmegaT は、 Java ランタイム環境のバージョン 8 を実行できる任意のオペレーティング・システム上にインストールできます。</i></p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-jre">
        <p class="with-windows-jre" style="display:none;">Java 実行環境（JRE）を同梱した OmegaT と、同梱しない OmegaT のどちらをダウンロードするか、選んでください。適切なバージョンの JRE が Windows にインストール済みであれば、「JRE 無し」を選んでください。JRE をまだインストールしていないか、あるいは定かではない場合は、「JRE 付き」を選んでください。</p>
        <div class="with-linux-jre" style="display:none;">
          <p>OmegaT は通常、適切なバージョンの Java 実行環境（JRE）をインストールできるシステムであれば、どの Linux 上でも動作します。OmegaT は現在 JRE のバージョン 8 以降を必要としています。インストールされている JRE のバージョンを確認するには、コンソール（コマンドライン ウィンドウ）を開いて、次のコマンドを入力してください：</p>
          <pre>$ <strong>java -version</strong></pre>
          <p>適切なバージョンの JRE がシステムにインストール済みかどうかよく分からない場合は、JRE 付きのパッケージをダウンロードしてインストールすればよいでしょう。このパッケージに同梱される JRE は、OmegaT 専用の実行環境になります。既存の他の JRE と衝突したり、それを上書きしたり、あるいは削除するようなことはありません。安全に使用できます。</p>
        </div>
        <div class="radio jre32">
          <label><input type="radio" class="radio-primary" value="jre" name="optJRE"/>JRE 付き</label>
          <p>専用の Java 実行環境を同梱した、いわば「電池込み」の OmegaT です。このパッケージは、JRE 無しと比較して、ダウンロードに時間がかかります。また、インストールに必要なディスク容量も大きくなります。しかし、間違いなく OmegaT を実行できます。迷ったら、とりあえずこれを選んでおけば確実です。</p>
        </div>
        <div class="radio jre64">
          <label><input type="radio" class="radio-primary" value="jre64b" name="optJRE"/>64-bit JRE付き</label>
          <p>組み込まれている JRE は 64 ビットバージョンです。</p>
          <p class="jrelatest">専用の Java 実行環境を同梱した、いわば「電池込み」の OmegaT です。このパッケージは、JRE 無しと比較して、ダウンロードに時間がかかります。また、インストールに必要なディスク容量も大きくなります。しかし、間違いなく OmegaT を実行できます。迷ったら、とりあえずこれを選んでおけば確実です。</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="nojre" name="optJRE"/>JRE 無し</label>
          <p>適切なバージョンの JRE がシステムレベルでインストールされていることを確認済みであれば、JRE 無しの OmegaT をダウンロードできます。</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-version">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="standard" name="optVersion"/>通常版</label>
          <p>「通常版」の OmegaT には、完全な取扱説明書が含まれています（少なくとも英語版は、そうです）。また、バグを取り除くために、ある程度のテスト期間を経ています。OmegaT を初めて使うユーザーにお勧めです。</p>
          <div class="radio">
            <label><input type="radio" class="radio-primary" value="latest" name="optVersion"/>開発版</label>
            <p>名前が示すとおり、「開発版」の OmegaT は通常版よりも新しい内容のバージョンです。ただし、取扱説明書はまだ更新されていないでしょう（そのため、機能が変更された部分で混乱するかもしれません）。また、致命的でないバグが、まだいくつか残っているかもしれません。それでも、「開発版」はたいていの場合、十分に安定して動作します。OmegaT をある程度使い慣れているユーザーであれば、お勧めできます。</p>
          </div>
        </div>
      </div>
      <div class="panel-footer collapse text-center" style="display:none;" id="wizard-result">
        <p>お客様の選択に基づいて、次のものを使用するように指示します。</p>
        <h3><a id="wizard-result-version" href="#">何らかのバージョン</a></h3>
        <a id="wizard-result-btn" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-download"></span> ダウンロード</a>

        <div id="wizard-result-osx" style="display:none;">
          <p>このバージョンが使用できない場合は、<a href="#" id="wizard-result-unsigned">署名のないバージョン</a>をダウンロードしてみてください。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>要件</h3>

<h4>システム要件</h4>

<p>OmegaT は、適正なJRE（Java Runtime Environment）がインストールされた、あるいはインストールできる、すべてのシステム上で動きます。JRE は、OmegaT と一緒に配布されていますが、別々に入手することもできます。OmegaT は、Windows（98 以降のすべての版）、macOS、Linux にインストールできます。</p>
<p>Microsoft Office XML 形式のファイルを、OmegaT で直接翻訳できます。それより古い形式の MS Word、Excel、Powerpoint ファイルは、対応する現在のMicrosoft Office 形式、または Office Open XML 形式へ変換したうえで翻訳できます。自由なソフトウェアの  LibreOfficeで(OpenOffice.orgも利用可 )変換できます。LibreOffice やOpenOffice.org  を入手するには、左にある「関連プログラム」ボタンのリンクをたどってください。</p>

<h4>ユーザー要件</h4>
<p>OmegaT は、インストールや使用が特に難しいものではありませんが、説明を読んで習う意思が必要です。もし説明を読むのが嫌いで、新しいソフトウェアを使うに当たって、望みの効果らしきものが現れるまで、すべてのボタンをクリックしていく方法を好まれるのであれば、OmegaT はおそらくあなたに合っていないでしょう。</p>

<!-- Donation slider -->
<div class="donation-section section">
	<div class="donation-call">
		<h3>続行する前に</h3>

		<span>OmegaTへの寄付を検討したことはありますか?このソフトウェアは無料ですが、OmegaTが役に立つので、寄付によって謝意を表したい、とお考えの方は、ペイパルアカウントにおねがいします。</span>

		<input id="donation-slider" type="range" min="5" max="100" step="5" value="35" data-rangeslider>

		<form action="https://www.paypal.com/cgi-bin/webscr" target="_paypal" id="donation-form" method="post">
			<input type="hidden" name="business" value="thank.you.omegat@gmail.com">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="item_name" value="Donation to OmegaT - multiplatform CAT tool">
			<input type="hidden" name="currency_code" value="USD">

			<input type="text" class="input-lg" id="amount" name="amount" size="3" value="35">&nbsp;USD <a class="btn btn-primary" href="#" id="donate-button">寄付</a>
		</form>
	</div>
	{% asset donation.js %}
</div>

<h3 id="standard">通常版 - {{site.data.versions.standard.name}}</h3>

<p>通常版には、Java {{site.data.versions.standard.java_version}}が必要です。ある程度の評価試用期間を経ているため、動作は安定しています。取扱説明書については、少なくとも英語版は常に最新の内容になっています。<!--It will however lack some of the features of the "Latest" version.--></p>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>プラットフォーム</th>
      <th>詳細な手順</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for platform in site.data.downloads.standard.platforms %}
  <tr id="{{ platform.id }}">
      <td class="version-name">{% translate platform.name %}</td>
      <td>
      {% if platform.noInfo != true %}
          <span rel="popover" data-platform="{{ platform.name }}" data-title="{% translate platform.name %}" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
          <div id="info_{{ platform.name }}"></div>
      {% endif %}
      </td>
      <td>
      {% if platform.link != null %} <a class="btn btn-primary version-download" href="{{ platform.link }}" role="button">ダウンロード</a></td>
      {% else %} <a class="btn btn-primary version-download" href="{{ site.data.downloads.baseUrl }}/{{ site.data.downloads.standard.folder }}/{{ site.data.versions.standard.name }}/OmegaT_{{ site.data.versions.standard.version }}_{{ platform.fileName}}/download" role="button">ダウンロード</a></td>
      {% endif %}
      </td>
  </tr>
{% endfor %}
  </tbody>

</table>

<h3 id="latest">最新版 - {{site.data.versions.latest.name}}</h3>

<p>最新版には、Java {{site.data.versions.latest.java_version}}が必要です。通常版よりも新しいバージョンであり、通常版にはない新機能が含まれています。最新版は、大抵の利用では、十分に安定して使用できます。けれども、不具合やバグが少し残っているかもしれません。文書については、特に新機能を中心に、記載されていなかったり、草稿段階の記述だったりします。OmegaT を長期に利用しているユーザーは、最新版を選ぶことがよくあります。</p>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>プラットフォーム</th>
      <th>詳細な手順</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for platform in site.data.downloads.latest.platforms %}
 <tr id="{{ platform.id }}">
      <td class="version-name">{% translate platform.name %}</td>
      <td>
      {% if platform.noInfo != true %}
          <span rel="popover" data-platform="{{ platform.name }}" data-title="{% translate platform.name %}" data-content="" class="glyphicon glyphicon-info-sign"> </span>
      {% endif %}
      </td>
      <td>
      {% if platform.link != null %} <a class="btn btn-primary version-download" href="{{ platform.link }}" role="button">ダウンロード</a></td>
      {% else %} <a class="btn btn-primary version-download" href="{{ site.data.downloads.baseUrl }}/{{ site.data.downloads.latest.folder }}/{{ site.data.versions.latest.name }}/OmegaT_{{ site.data.versions.latest.version }}_{{ platform.fileName}}/download" role="button">ダウンロード</a></td>
      {% endif %}
      </td>
  </tr>
{% endfor %}
  </tbody>

</table>

<h3 id="downloadTrunk">開発版</h3>

<p>「master」バージョンは、開発中の最先端の「アルファ」バージョンです。ビルド済みバイナリは、Nightly Buildsとして利用できます。</p>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>プラットフォーム</th>
      <th>詳細な手順</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>Master</td>
      <td><span rel="popover" data-platform="master" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
      </td>
      <td><a class="btn btn-primary" href="{{ site.data.downloads.master }}" role="button">ダウンロード</a></td>
  </tr>
  <tr>
      <td>Nightly Builds</td>
      <td><span rel="popover" data-platform="nightly" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
      </td><td><a class="btn btn-primary" href="{{ site.data.downloads.nightly }}" role="button">ダウンロード</a></td>
  </tr>
  </tbody>
</table>

<h3>旧版</h3>

<p> <a href="{{ site.data.downloads.legacy }}">新版に置き換えられた古いバージョン</a>  のOmegaTを引き続き入手できます。</p>

<p>旧版は、新版によって置き換えられた古いバージョンです。ほとんどのユーザーにとって、関係がありません。しかし、何らかの制約（OS や Java のバージョンなどに依存）を抱えているユーザーには、旧版が必要となることがあります。</p>

<h3>JRE 付き/無し</h3>

<p>OmegaT を実行するには、Java Runtime Environment（JRE）がコンピューターにインストールされている必要があります。</p>

<p>適切なバージョンの JRE がインストールされていることを確認済みであれば、JRE 無しの OmegaT 版をダウンロードできます。ファイルサイズが小さいため、ダウンロードが早く終わります。また、インストールに必要なハードディスク容量も少なくなります。この場合、デフォルト版を選ばないでください。他のバージョン（通常版や開発版）を選び、次に「Java 無し」と記された版を選んでください。</p>

<p>JRE をインストール済みのコンピューターに、JRE 付きの OmegaT をインストールしても問題はありません。OmegaT 用の JRE は、既存の JRE とは別の場所にインストールされ、特に衝突は起こしません。したがって、JRE 付きの OmegaT をインストールしておけば、どんな環境であっても安全といえます。もしコンピューターに適切なバージョンの JRE がインストール済みかどうか分からないときは、JRE 付き（またはデフォルト）のバージョンを選んでください。 </p>

<p><strong>Linux ユーザー</strong>：ほとんどの Linux ディストリビューションは、Java 実行環境を同梱しています。しかし、オープンソース実装の JRE の中には、OmegaT が正常に動作しないものがあります（すぐに明確ではないかもしれません）。もし Linux に不慣れな場合は、JRE 付きの OmegaT を選ぶことをお勧めします。経験豊富な Linux ユーザーであれば、Oracle（旧 Sun）の JRE をシステムレベルでインストールすることを選ぶかもしれません。
</p>

<div id="popover_content_osx_signed" style="display:none">
<h4 id="about_signing">認証済みと署名なし</h4>

<p>macOSは、検証されていないプログラムの実行が困難になるため、セキュリティが向上します。</p>

<p>OmegaT for macOSには、認証済みバージョンと署名なしバージョンの両方が用意されています。これらは機能的には同じですが、システムによって既知の開発者によって公開されたものとして認識されるため、署名付きバージョンが推奨されます。</p>

<p>認証されたバージョンの公開が遅れる場合があります。急いでいるユーザーは、代わりに署名なしバージョンを使用できます。アプリケーションの起動に問題がある場合は、<a href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac">身元不明の開発者からアプリケーションを開く方法</a>を参照してください。</p>
</div>

<div id="popover_content_osx_unsigned" style="display:none">
<h4 id="about_signing">認証済みと署名なし</h4>

<p>macOSは、検証されていないプログラムの実行が困難になるため、セキュリティが向上します。</p>

<p>OmegaT for macOSには、認証済みバージョンと署名なしバージョンの両方が用意されています。これらは機能的には同じですが、システムによって既知の開発者によって公開されたものとして認識されるため、署名付きバージョンが推奨されます。</p>

<p>認証されたバージョンの公開が遅れる場合があります。急いでいるユーザーは、代わりに署名なしバージョンを使用できます。アプリケーションの起動に問題がある場合は、<a href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac">身元不明の開発者からアプリケーションを開く方法</a>を参照してください。</p>
</div>

<div id="popover_content_webstart" style="display:none">
      <p>Web Start 版は、OmegaT をインストールするもう一つの方法です。</p>
      <p>Web Start 版では、将来の更新版が自動インストールされます。</p>
      <p>インストール中、OS によってはいくつかのセキュリティ警告が表示されることがあります。<br/>この証明書は、OmegaTのリード開発者によって署名されています。</p>
      <p>この Web Start 版に与える権限（「コンピューターへの無制限アクセス」のように表示されることがあります）は、ローカル版に対して与えるものと同じで、コンピューターのハードディスクにアクセスすることを許可するものです。</p>
      <p>Web Start 版をイントールするには、コンピューターに Java 1.8 以降がインストール済みである必要があります。</p>
      <p>プライバシーについて：OmegaT Java Web Start は、ユーザーのコンピューターに関するいかなる情報も外部へ保存することはありません。プログラムは、ユーザーのコンピューター上で実行されます。ユーザーが作成した文書や翻訳メモリは、ユーザーのコンピューターに保存され、OmegaT プロジェクトがユーザーの作業内容や他の情報へアクセスすることはありません。</p>
</div>


<div id="popover_content_master" style="display:none">
    <p>「マスター」(アルファ)バージョンは、最新の開発状態を反映しています。これは、真剣に取り組んでいる開発者とテスト実施者以外にはお勧めしません。また、gitコマンドを使用して取得することもできます。</p>
    <p><kbd>git clone https://git.code.sf.net/p/omegat/code omegat-code</kbd></p>
</div>

<div id="popover_content_nightly" style="display:none">
  <p>定期ビルドはSourceforgeで入手できます。</p>
</div>

<div id="popover_content_source" style="display:none">
    <p>ソースコードパッケージは、一般ユーザーには必要なく、開発者のみを対象としています。ソースコードパッケージは、該当するコンパイル済みバージョンのフォルダー内にあります。</p>
</div>
</div>
