.asset-cache
_site
_gh-pages
_mess
.sass-cache
.jekyll-metadata
.jekyll-cache
*.swp
_translations

js/omegat.min.js
js/bootstrap.min.css
js/bootstrap.min.js
js/jquery.min.js
*.swo
*.bak
*~

# ruby
Gemfile.lock
.bundle
.ruby-version
vendor

# npm
node_modules/

snapshot-test-results.json
__tests__/__snapshots__/

# ide
.idea
