<div class="container">

<p class="lead">A continuación se muestran enlaces a las distintas versiones de OmegaT. Si no sabe con seguridad qué versión descargar, puede utilizar el <a
href="#download-wizard" data-toggle="collapse">Selector de descarga</a>. Currently, we offer only a Standard version.</p>

<div id="download-wizard" class="panel panel-primary collapse">
  <div class="panel-heading">
    <h3 class="panel-title">Selector de descarga de OmegaT</h3>
  </div>
  <div class="panel-body">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills">
            <li>
              <a href="#tab-operating-system" data-toggle="tab">Sistema operativo</a>
            </li>
            <li>
              <a href="#tab-jre" data-toggle="tab">JRE</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade" id="tab-operating-system">
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optWindows" value="windows" name="optOS"/>Windows</label>
          <p>Para la instalación en un sistema Windows.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optOsx" value="osx" name="optOS"/>macOS</label>
          <p>For installation on macOS.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optLinux" value="linux" name="optOS"/>Linux</label>
          <p>Para la instalación en Linux.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="other" name="optOS"/>Otra</label>
          <p>Para la instalación en otros sistemas operativos (como FreeBSD y Solaris).<br/> <i>OmegaT can be installed on any operating system capable of running version 11 of the Java runtime environment.</i></p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-jre">
        <p class="with-windows-jre" style="display:none;">Seleccione si desea descargar OmegaT con Java Runtime Environment (JRE) incluido o sin él. Si ya tiene un JRE adecuado instalado en su sistema Windows, seleccione "sin JRE". Si no lo tiene o no lo sabe con seguridad, seleccione "con JRE".</p>
        <div class="with-linux-jre" style="display:none;">
          <p>Normalmente, OmegaT funciona en cualquier sistema Linux en el que se pueda instalar una versión adecuada de Java Runtime Environment (JRE). OmegaT currently requires version 11 of the JRE or later. Para comprobar qué versión de JRE, si hay alguna, está instalada en su sistema Linux, abra la consola (ventana de línea de comandos) y escriba:</p>
          <pre>$ <strong>java -version</strong></pre>
          <p>Si no sabe con seguridad si ya hay una versión adecuada de JRE instalada en su sistema, puede descargar e instalar una versión de OmegaT con JRE. Esta versión de JRE solo se utilizará de manera local para OmegaT; no entrará en conflicto, anulará ni desinstalará las otras instalaciones de JRE y, por lo tanto, su uso es seguro.</p>
        </div>
        <div class="radio jre32">
          <label><input type="radio" class="radio-primary" value="jre" name="optJRE"/>Con JRE</label>
          <p>La versión "con pilas incluidas" de OmegaT, con su propio Java Runtime Environment. Esta versión tardará más en descargarse y necesitará más espacio en su disco duro, pero puede estar seguro de que funcionará. En caso de duda, seleccione esta opción.</p>
        </div>
        <div class="radio jre64">
          <label><input type="radio" class="radio-primary" value="jre64b" name="optJRE"/>Con JRE de 64 bits</label>
          <p>El JRE incluido es la versión de 64 bits.</p>
          <p class="jrelatest">La versión "con pilas incluidas" de OmegaT, con su propio Java Runtime Environment. Esta versión tardará más en descargarse y necesitará más espacio en su disco duro, pero puede estar seguro de que funcionará. En caso de duda, seleccione esta opción.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="nojre" name="optJRE"/>Sin JRE</label>
          <p>Si sabe con seguridad que ya hay una versión de JRE adecuada instalada en su equipo a nivel de sistema, puede seleccionar la versión sin JRE incluido.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-version">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="standard" name="optVersion"/>Estándar</label>
          <p>The "Standard" version of OmegaT includes a full user manual (at least in English) and will have usually been tested for some time to eliminate any bugs. Es la versión recomendada para los usuarios nuevos.</p>
        </div>
      </div>
      <div class="panel-footer collapse text-center" style="display:none;" id="wizard-result">
        <p>Based on your choices, we recommend you use:</p>
        <h3><a id="wizard-result-version" href="#">alguna versión</a></h3>
        <a id="wizard-result-btn" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-download"></span> Descargar</a>

<!-- 
        <div id="wizard-result-osx" style="display:none;">
          <p>If this version is not available, you can try to <a href="#" id="wizard-result-unsigned">download the unsigned version</a>.</p>
        </div>
 -->
      </div>
    </div>
  </div>
</div>

<h3>Requisitos</h3>

<h4>Requisitos del sistema</h4>

<p>OmegaT funcionará en cualquier sistema en el que esté instalado o pueda instalarse JRE (Java Runtime Environment). Ahora, JRE se incluye con OmegaT y no es necesario obtenerlo por separado. OmegaT has been successfully installed on Windows (all versions from Windows 8 onwards), macOS and Linux.</p>

<!-- Donation slider -->
<div class="donation-section section">
	<div class="donation-call">
		<h3>Antes de proceder</h3>

		<span>¿Ha considerado hacer una donación a OmegaT? Aunque OmegaT es gratuito, si le parece útil y desea manifestar su gratitud, puede hacer una donación a nuestra cuenta de PayPal.</span>

		<input id="donation-slider" type="range" min="5" max="100" step="5" value="35" data-rangeslider>

		<form action="https://www.paypal.com/cgi-bin/webscr" target="_paypal" id="donation-form" method="post">
			<input type="hidden" name="business" value="thank.you.omegat@gmail.com">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="item_name" value="Donation to OmegaT - multiplatform CAT tool">
			<input type="hidden" name="currency_code" value="USD">

			<input type="text" class="input-lg" id="amount" name="amount" size="3" value="35">&nbsp;<label for="amount">USD</label>
			<a class="btn btn-primary" href="#" id="donate-button">Donate</a>
		</form>
	</div>
    <script src="{{ '/assets/js/donation.js' | relative_url }}"></script>
</div>

<h3 id="standard">Versión estándar - {{site.data.versions.standard.name}}</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Plataforma</th>
      <th>Instrucciones detalladas</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for platform in site.data.downloads.standard.platforms %}
  <tr id="{{ platform.id }}">
      <td class="version-name">{% translate platform.name %}</td>
      <td>
      {% if platform.noInfo != true %}
          <span rel="popover" data-platform="{{ platform.name }}" data-title="{% translate platform.name %}" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
          <div id="info_{{ platform.name }}"></div>
      {% endif %}
      </td>
      <td>
      {% if platform.link != null %}
        <a class="btn btn-primary version-download" href="{{ platform.link }}" role="button">Download</a>
      {% else %}
        <a class="btn btn-primary version-download" href="{{ site.data.downloads.baseUrl }}/{{ site.data.downloads.standard.folder }}/{{ site.data.versions.standard.name }}/OmegaT_{{ site.data.versions.standard.version }}_{{ platform.fileName}}/download" role="button">Download</a>
      {% endif %}
      </td>
  </tr>
{% endfor %}
  </tbody>

</table>

<h3 id="downloadTrunk">Versión para desarrolladores</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Plataforma</th>
      <th>Instrucciones detalladas</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>Master</td>
      <td><span rel="popover" data-platform="master" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
      </td>
      <td><a class="btn btn-primary" href="{{ site.data.downloads.master }}" role="button">Descargar</a></td>
  </tr>
  <tr>
      <td>Weekly Builds</td>
      <td><span rel="popover" data-platform="weekly" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
      </td><td><a class="btn btn-primary" href="{{ site.data.downloads.weekly }}" role="button">Descargar</a></td>
  </tr>
  </tbody>
</table>

<h3>Versiones anteriores</h3>

<p>Aún se pueden encontrar <a href="{{ site.data.downloads.legacy }}">versiones más antiguas que se han sustituido</a> de OmegaT.</p>

<p>Las versiones anteriores son versiones más antiguas que se han sustituido. Para la mayoría de usuarios, carecen de interés. Sin embargo, algunos usuarios pueden encontrar restricciones (impuestas por sus sistemas operativos o versión de Java) que pueden hacer que prefieran una versión más antigua.</p>

<h3>Con/sin JRE</h3>

<p>Es necesario que tenga Java Runtime Environment (JRE) instalado en su equipo para que OmegaT se ejecute.</p>

<p>Si sabe con seguridad que ya tiene una versión adecuada de JRE instalada en su equipo, puede descargar una versión de OmegaT sin JRE. La descarga será más rápida y la instalación necesitará menos espacio en el disco duro. En ese caso, no seleccione la versión predeterminada; seleccione una versión diferente (p. ej., la estándar o la última) y seleccione después una versión que no incluya Java.</p>

<p>Si instala la versión de OmegaT con JRE aunque ya tenga JRE instalado en su equipo, el JRE de OmegaT se instalará por separado y no entrará en conflicto. Por lo tanto, siempre es seguro instalar la versión de OmegaT con JRE. Si no sabe con seguridad si tiene o no una versión adecuada de JRE, seleccione una versión con JRE (o la versión predeterminada). </p>

<p><strong>Usuarios de Linux</strong>: la mayoría de distribuciones de Linux cuentan con Java Runtime Environment, pero algunas implementaciones de código abierto no funcionan bien con OmegaT (aunque no lo parezca en un primer momento). Si es relativamente nuevo en Linux, le recomendamos que seleccione una versión de OmegaT con JRE incluido. Los usuarios de Linux más experimentados pueden preferir instalar JRE de Oracle (antes Sun) a nivel de sistema.
</p>

<div id="popover_content_osx_signed" style="display:none">
  <h4 id="about_signing">Autentificada vs. Sin firmar</h4>

  <p>macOS intenta aumentar la seguridad dificultando la ejecución de programas sin verificar.</p>

  <p>OmegaT para macOS está disponible en versión autentificada y versión sin firmar. Cuentan con las mismas funciones, pero es preferible utilizar la versión autentificada porque el sistema reconoce que la publicó un desarrollador conocido y está verificada por Apple.</p>

  <p>Es posible que se tarde un tiempo en publicar la versión autentificada. Los usuarios que tengan prisa pueden utilizar en su lugar la versión sin firmar. Si tiene dificultades para iniciar la aplicación, consulte <a href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac">cómo abrir una aplicación de un desarrollador no identificado</a>.</p>
</div>

<div id="popover_content_osx_unsigned" style="display:none">
<h4 id="about_unsigning">Autentificada vs. Sin firmar</h4>

  <p>macOS intenta aumentar la seguridad dificultando la ejecución de programas sin verificar.</p>

  <p>OmegaT para macOS está disponible en versión autentificada y versión sin firmar. Cuentan con las mismas funciones, pero es preferible utilizar la versión autentificada porque el sistema reconoce que la publicó un desarrollador conocido y está verificada por Apple.</p>

  <p>Es posible que se tarde un tiempo en publicar la versión autentificada. Los usuarios que tengan prisa pueden utilizar en su lugar la versión sin firmar. Si tiene dificultades para iniciar la aplicación, consulte <a href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac">cómo abrir una aplicación de un desarrollador no identificado</a>.</p>
</div>

<div id="popover_content_master" style="display:none">
    <p>La versión "master" (alfa) refleja el último estado de desarrollo. Se recomienda solo para desarrolladores y evaluadores serios. También se puede conseguir usando el siguiente comando:</p>
    <p><kbd>git clone https://git.code.sf.net/p/omegat/code omegat-code</kbd></p>
</div>

<div id="popover_content_weekly" style="display:none">
  <p>Las compilaciones periódicas están disponibles en SourceForge.</p>
</div>

<div id="popover_content_source" style="display:none">
    <p>Los paquetes de código fuente no son necesarios para los usuarios y están pensados solo para desarrolladores. Se pueden encontrar en las carpetas de las versiones compiladas correspondientes.</p>
</div>
</div>
