<footer class="container-fluid text-center">
  <a href="#page" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"><!----></span>
  </a>
  <div class="container-fluid">
      <div class="col-sm-offset-3 col-sm-2 footer-column">
        <h4>{% t footer.connect %}</h4>
        <div class="header-line"><!----></div>
        <div class="footer-links">
          <ul>
            <li><a href="https://sourceforge.net/projects/omegat/"><img alt="Sourceforge" src="{{ '/img/sourceforge.svg' | prepend: site.baseurl_root }}" height="24" width="24"/> Sourceforge</a></li>
            <li><a href="https://github.com/omegat-org/"><img alt="Github" src="{{ '/img/github.svg' | prepend: site.baseurl_root }}" height="24" width="24"/> Github</a></li>
            <li><a href="https://twitter.com/OmegaTOfficial"><img alt="Twitter" src="{{ '/img/twitter.svg' | prepend: site.baseurl_root }}" height="24" width="24"/> Twitter</a></li>
            <li><a href="{{ site.data.links.facebook }}"><img alt="Facebook" src="{{ '/img/facebook.svg' | prepend: site.baseurl_root }}" height="24" width="24"/> Facebook</a></li>
			<li><a href="{{ site.data.links.telegram }}"><img alt="Telegram" src="{{ '/img/telegram.svg' | prepend: site.baseurl_root }}" height="24" width="24"/> Telegram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 footer-column">
        <h4>{% t footer.documentation %}</h4>
        <div class="header-line"><!----></div>
        <div class="footer-links">
          <ul>
            <li><a href="{% tl documentation %}#manual"><span class="glyphicon glyphicon-book"></span> {% t titles.manual %}</a></li>
            <li><a href="{% tl documentation %}#tutorials"><span class="glyphicon glyphicon-user"></span> {% t titles.tutorials %}</a></li>
            <li><a href="{% tl reviews %}"><span class="glyphicon glyphicon-heart"></span> {% t titles.reviews %}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 footer-column">
        <h4>{% t footer.omegat_project %}</h4>
        <div class="header-line"><!----></div>
        <div class="footer-links">
          <ul>
            <li>
            <a href="{% tl support %}"><span class="glyphicon glyphicon-envelope"></span> {% if (site.translations[site.lang]['titles']['support']) %}{% t titles.support %}{% else %}{% t titles.contact %}{% endif %}</a>
            </li>
            <li>
            <a href="{% tl about %}"><span class="glyphicon glyphicon-question-sign"></span> {% t titles.about %}</a>
            </li>
            <li>
            <a href="{% tl philosophy %}"><span class="glyphicon glyphicon-console"></span> {% t titles.philosophy %}</a>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <p class="footer-copyright">Copyright &#xA9; 2019 - <a href="{{site.baseurl}}/">omegat.org</a></p>
</footer>
