    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
          </button>
          <a class="navbar-brand" href="{% tl index %}">
            <img alt="OmegaT" class="logo-omegat" src="{{ "/img/omegat.svg" | prepend: site.baseurl_root }}" height="80" width="80"/>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="download">{% t menu.download %}</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="resources">{% t menu.resources %}</a></li>
            <li><a href="documentation">{% t menu.documentation %}</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% translate global.languages %}<span class="caret"/> <span class="sr-only">(current)</span></a>
              <ul class="dropdown-menu languages">
                <li><a href="{{ site.baseurl_root }}/ar{{ page.url }}">&#x628;&#x627;&#x644;&#x639;&#x631;&#x628;&#x64A;&#x629;</a></li>
                <li><a href="{{ site.baseurl_root }}/ca{{ page.url }}">Catal&#xE0;</a></li>
                <li><a href="{{ site.baseurl_root }}/cz{{ page.url }}">&#x10C;e&#x161;tina</a></li>
                <li><a href="{{ site.baseurl_root }}/de{{ page.url }}">Deutsch</a></li>
                <li><a href="{{ site.baseurl_root }}/el{{ page.url }}">&#x395;&#x3BB;&#x3BB;&#x3B7;&#x3BD;&#x3B9;&#x3BA;&#x3AC;</a></li>
                <li><a href="{{ site.baseurl_root }}{{ page.url }}">English</a></li>
                <li><a href="{{ site.baseurl_root }}/es{{ page.url }}">Espa&#xF1;ol</a></li>
                <li><a href="{{ site.baseurl_root }}/fr{{ page.url }}">Fran&#xE7;ais</a></li>
                <li><a href="{{ site.baseurl_root }}/gl{{ page.url }}">Galego</a></li>
                <li><a href="{{ site.baseurl_root }}/id{{ page.url }}">Bahasa Indonesia</a></li>
                <li><a href="{{ site.baseurl_root }}/ia{{ page.url }}">Interlingua</a></li>
                <li><a href="{{ site.baseurl_root }}/it{{ page.url }}">Italiano</a></li>
                <li><a href="{{ site.baseurl_root }}/ko{{ page.url }}">&#xD55C;&#xAD6D;&#xC5B4;</a></li>
                <li><a href="{{ site.baseurl_root }}/hu{{ page.url }}">Magyar</a></li>
                <li><a href="{{ site.baseurl_root }}/ja{{ page.url }}">&#x65E5;&#x672C;&#x8A9E;</a></li>
                <li><a href="{{ site.baseurl_root }}/nl{{ page.url }}">Nederlands</a></li>
                <li><a href="{{ site.baseurl_root }}/pl{{ page.url }}">Polski</a></li>
                <li><a href="{{ site.baseurl_root }}/br{{ page.url }}">Portugu&#xEA;s (Brazil)</a></li>
                <li><a href="{{ site.baseurl_root }}/pt{{ page.url }}">Portugu&#xEA;s (Portugal)</a></li>
                <li><a href="{{ site.baseurl_root }}/ru{{ page.url }}">&#x420;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;</a></li>
                <li><a href="{{ site.baseurl_root }}/sq{{ page.url }}">Shqip</a></li>
                <li><a href="{{ site.baseurl_root }}/sk{{ page.url }}">Sloven&#x10D;ina</a></li>
                <li><a href="{{ site.baseurl_root }}/si{{ page.url }}">Sloven&#x161;&#x10D;ina</a></li>
                <li><a href="{{ site.baseurl_root }}/hr{{ page.url }}">Srpskohrvatski</a></li>
                <li><a href="{{ site.baseurl_root }}/fi{{ page.url }}">Suomi</a></li>
                <li><a href="{{ site.baseurl_root }}/sv{{ page.url }}">Svenska</a></li>
                <li><a href="{{ site.baseurl_root }}/zh_CN{{ page.url }}">&#x7B80;&#x4F53;&#x4E2D;&#x6587;</a></li>
                <li><a href="{{ site.baseurl_root }}/zh_TW{{ page.url }}">&#x7E41;&#x9AD4;&#x4E2D;&#x6587;</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
