<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#omegat-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><!----></span>
        <span class="icon-bar"><!----></span>
        <span class="icon-bar"><!----></span>
      </button>
      <a class="navbar-brand" href="{% tl index %}">
        <img alt="OmegaT" class="logo-omegat" src="{{ '/img/omegat.svg' | prepend: site.baseurl_root }}" height="80" width="80"/>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="omegat-menu">
      <ul class="nav navbar-nav">
        <li><a href="{% tl download %}">{% t menu.download %}</a></li>
        <li><a href="{% tl install %}">{% t menu.install %}</a></li>
      </ul>
      <ul class="nav navbar-nav">
        {% if (site.translations[site.lang]['menu']['support']) %}
        <li><a href="{% tl support %}">{% t menu.support %}</a></li>
        {% endif %}
        <li><a href="{% tl resources %}">{% t menu.resources %}</a></li>
        <li><a href="{% tl documentation %}">{% t menu.documentation %}</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span data-toggle="popover" class="language-popover" data-trigger="manual" data-container="body" title="-" data-content="-" data-placement="bottom">
              {% translate menu.languages %}<span class="caret"><!----></span> <span class="sr-only">(current)</span>
            </span>
          </a>
          <ul class="dropdown-menu languages">
            {% for lang in site.data.languages %}
            <li{% if lang.enabled == false %} class="disabled"{% endif %}><a href="{{ site.baseurl_root }}{% if lang.enabled == false %}/#{% endif %}{% if lang.code != 'en' %}/{{ lang.code }}{% endif %}{{ page.url }}">{{ lang.label }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
