<div class="container">

  <h2>O projecto OmegaT</h2>
  <p>O projecto OmegaT é mantido por um grupo informal e internacional de voluntários. O seu objectivo é desenvolver, distribuir e apoiar a utilização do OmegaT, uma aplicação de memória de tradução de código aberto.</p>
  <p>Os principais membros do projecto são:</p>
  <div class="text-md-center">
    <h3>Autor original da aplicação OmegaT</h3>
    <p>Keith Godfrey</p>
    <h3>Gestor do projecto</h3>
    <p>Aaron Madlon-Kay</p>
    <h3>Programador principal</h3>
    <p>Alex Buloichik</p>
    <h3>Gestor de integração</h3>
    <p>Aaron Madlon-Kay</p>
    <h3>Gestor do sítio web</h3>
    <p>Briac Pilpré</p>
    <h3>Gestor da documentação</h3>
    <p>Vincent Bidaux</p>
    <h3>Gestor de localização, proprietário do grupo de utilizadores</h3>
    <p>Kos Ivantsov</p>
    <h3>Programadores</h3>
    <ul class="list-unstyled">
      {% for dev in site.data.contributors %}
      {% if dev.name.size &gt; 0 %}<li>{{ dev.name }}</li>{% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="text-md-center">
    <h3>Autores do conteúdo do sítio web</h3>
    <ul class="list-unstyled">
      {% for author in site.data.credits.website %}
        <li>{{ author }}</li>
      {% endfor %}
    </ul>

    {% if site.lang != "en" %}
    <h3>Tradutores da versão inglesa</h3>
    <ul class="list-unstyled">
      {% for translator in site.data.credits.translators[site.lang] %}
        <li>{{ translator }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    </div>

  <p>A filosofia do projecto é descrita <a href="philosophy.html">aqui</a>.</p>
  <p>Desde o seu início que o projecto recebeu o apoio de dezenas de outros colaboradores, demasiado numerosos para mencionar aqui, mas por cuja ajuda estamos muito gratos.</p>
</div>
