<div class="container">
		
<p class="lead">Di seguito sono forniti collegamenti alle varie versioni di OmegaT. Se non si è certi della versione da scaricare, è possibile usare il <a
href="#download-wizard" data-toggle="collapse">Selettore di scaricamento</a>.</p>

<div id="download-wizard" class="panel panel-primary collapse">
  <div class="panel-heading">
    <h3 class="panel-title">Selettore di scaricamento di OmegaT</h3>
  </div>
  <div class="panel-body">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills">
            <li>
              <a href="#tab-operating-system" data-toggle="tab">Sistema operativo</a>
            </li>
            <li>
              <a href="#tab-jre" data-toggle="tab">JRE</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab-install-type">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="traditional" name="optType"/>Tradizionale</label>
          <p>La versione per l'installazione familiare a chi è già utente di OmegaT. In caso di dubbio, selezionare questa versione.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-operating-system">
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optWindows" value="windows" name="optOS"/>Windows</label>
          <p>Per l'installazione sul sistema Windows.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optOsx" value="osx" name="optOS"/>macOS</label>
          <p>Per l'installazione su macOS.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optLinux" value="linux" name="optOS"/>Linux</label>
          <p>Per l'installazione su Linux.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="other" name="optOS"/>Altro</label>
          <p>Per l'installazione su altri sistemi operativi (come FreeBSD e Solaris).<br/> <i>OmegaT può essere installato su qualsiasi sistema operativo in grado di eseguire la versione 1.6 di Java runtime environment.</i></p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-jre">
        <p class="with-windows-jre" style="display:none;">Selezionare se scaricare OmegaT con o senza il Java Runtime Environment (JRE) incluso. Se un idoneo JRE è già installato sul vostro sistema di Windows, selezionare "Senza JRE". Se così non è, o se non si è sicuri, selezionare "con JRE".</p>
        <div class="with-linux-jre" style="display:none;">
          <p>OmegaT di solito funzionerà su qualsiasi sistema Linux sul quale può essere installata una versione adatta di Java Runtime Environment (JRE). OmegaT attualmente richiede la versione 1.6 o successiva di JRE. Per verificare quale versione di JRE, se presente, è installata sul proprio sistema Linux, aprire una console (finestra a riga di comando) e digitare:</p>
          <pre>$ <strong>java -version</strong></pre>
          <p>Se non si è certi che il corretto JRE è installato sul proprio sistema, si può sempre scaricare e installare una versione di OmegaT con JRE. Questa versione del JRE sarà utilizzata solo localmente per OmegaT, non entrerà in conflitto con, sostituirà o disinstallerà qualsiasi altra installazione JRE, dunque è sicura da usare.</p>
        </div>
        <div class="radio jre32">
          <label><input type="radio" class="radio-primary" value="jre" name="optJRE"/>Con JRE</label>
          <p>La versione "batterie incluse" di OmegaT, col proprio Java Runtime Environment. Sarà più lungo scaricare questa versione e ci vorrà più spazio sul disco rigido, ma è sicuro che essa funzionerà. In caso di dubbio, selezionare questa opzione.</p>
        </div>
        <div class="radio jre64">
          <label><input type="radio" class="radio-primary" value="jre64b" name="optJRE"/>Con JRE a 64 bit</label>
          <p>La versione di JRE inclusa è la versione a 64 bit.</p>
          <p class="jrelatest">La versione "batterie incluse" di OmegaT, col proprio Java Runtime Environment. Sarà più lungo scaricare questa versione e ci vorrà più spazio sul disco rigido, ma è sicuro che essa funzionerà. In caso di dubbio, selezionare questa opzione.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="nojre" name="optJRE"/>Senza JRE</label>
          <p>Se si è certi che il corretto Java Runtime Environment è già installato sul proprio computer a livello di sistema, è possibile selezionare l'opzione senza JRE.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-version">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="standard" name="optVersion"/>Standard</label>
          <p>La versione "standard" di OmegaT include un manuale dell'utente completo (almeno in inglese) e in genere è stata provata per qualche tempo per eliminare qualsiasi errore. È la versione consigliata per i nuovi utenti.</p>
        </div>
      </div>
      <div class="panel-footer collapse text-center" style="display:none;" id="wizard-result">
        <p>In base alle scelte personali, raccomandiamo l'utilizzo di:</p>
        <h3><a id="wizard-result-version" href="#">una qualche versione</a></h3>
        <a id="wizard-result-btn" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-download"></span> Scarica</a>
        <div id="wizard-result-osx" style="display:none;">
          <p>Se questa versione non è disponibile, è possibile provare a <a href="#" id="wizard-result-unsigned">scaricare la versione non firmata</a>.</p> 
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Requisiti</h3>

<h4>Requisiti di sistema</h4>

<p>OmegaT funzionerà su qualsiasi sistema su cui è stato, o può essere, installato il corretto Java Runtime Environment (JRE). JRE è ora fornito con OmegaT e non deve essere ottenuto separatamente. OmegaT è stato installato con successo in Windows (dalla versione 98 in poi), macOS e Linux.</p>

<h3 id="standard">Versione standard - {{site.data.versions.standard.name}}</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Piattaforma</th>
      <th>Istruzioni dettagliate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

{% for platform in site.data.downloads.standard.platforms %}
  
  <tr id="{{ platform.id }}">
      <td class="version-name">{% translate platform.name %}</td>
      <td>
      
      {% if platform.noInfo != true %}
          
          <span rel="popover" data-platform="{{ platform.name }}" data-title="{% translate platform.name %}" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
          <div id="info_{{ platform.name }}"></div>
      
      {% endif %}
      
      </td>
      <td>
      {% if platform.link != null %} <a class="btn btn-primary version-download" href="{{ platform.link }}" role="button">Scarica</a></td>
      {% else %} <a class="btn btn-primary version-download" href="{{ site.data.downloads.baseUrl }}/{{ site.data.downloads.standard.folder }}/{{ site.data.versions.standard.name }}/OmegaT_{{ site.data.versions.standard.version }}_{{ platform.fileName}}/download" role="button">Scarica</a></td>
      
      {% endif %}
      
      </td>
  </tr>

{% endfor %}
  
  </tbody>

</table>

<h3 id="downloadTrunk">Versione per gli sviluppatori</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Piattaforma</th>
      <th>Istruzioni dettagliate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>Trunk</td>
      <td><!----><span rel="popover" data-platform="trunk" data-content="" class="glyphicon glyphicon-info-sign"></span>
      </td>
      <td><a class="btn btn-primary" href="{{ site.data.downloads.trunk }}" role="button">Scarica</a></td>
  </tr>
  <tr>
      <td>Weekly Builds</td>
      <td><!----><span rel="popover" data-platform="weekly" data-content="" class="glyphicon glyphicon-info-sign"></span>
      </td><td><a class="btn btn-primary" href="{{ site.data.downloads.weekly }}" role="button">Scarica</a></td>
  </tr>
  </tbody>
</table>

<h3>Vecchie versioni</h3>

<p>È possibile ancora trovare le <a href="{{ site.data.downloads.legacy }}">versioni più vecchie, superate</a> di OmegaT.</p>

<p>Sono versioni più vecchie e superate. Per la maggior parte degli utenti esse non sono di alcun interesse. Tuttavia, alcuni utenti potrebbero dover affrontare restrizioni (imposte dal loro sistema operativo o dalla loro versione Java) che li inducono a preferire una versione precedente.</p>

<h3>Con o senza JRE</h3>

<p>Per essere eseguito, OmegaT richiede l'installazione nel proprio computer di Java Runtime Environment (JRE).</p>

<p>Se si è sicuri che una versione adatta di JRE è già installata sul proprio computer, è possibile scaricare una versione di OmegaT senza JRE. Lo scaricamento sarà più veloce e l'installazione richiederà meno spazio sul disco rigido. In questo caso, non selezionare la versione predefinita; selezionarne una diversa (ad esempio, standard o più recente), quindi selezionare una versione contrassegnata "Java not included".</p>

<p>Se si installa la versione di OmegaT con JRE anche se JRE è già installato nel computer, il JRE di OmegaT verrà installato separatamente e non entrerà in conflitto con esso. Pertanto è sempre sicuro installare la versione di OmegaT con JRE. Se non si è sicuri se o non si possiede una versione adatta di JRE, selezionare una versione con JRE (o quella predefinita). </p>

<p><strong>Utenti di macOS</strong>: JRE è installato su macOS per impostazione predefinita, pertanto non esiste una versione per macOS con JRE.</p>

<p><strong>Utenti di Linux</strong>: la maggior parte delle distribuzioni di Linux è distribuita con Java Runtime Environment, ma alcune implementazioni open source non funzionano correttamente con OmegaT (anche se questo potrebbe non risultare immediatamente evidente). Se si è nuovi di Linux, consigliamo di selezionare una versione di OmegaT con JRE incluso. Gli utenti Linux più esperti preferiscono installare il JRE di Oracle (ex Sun) a livello di sistema.
</p>

<div id="popover_content_osx_signed" style="display:none">
<h4 id="about_signing">Firmato/Non firmato</h4>

<p>macOS ha una funzionalità chiamata Gatekeeper che aumenta la sicurezza rendendo difficile l'esecuzione di programmi non firmati. OmegaT per macOS è disponibile nelle due versioni, firmata e non firmata; le loro funzionalità sono le stesse ma è preferita dal sistema la versione firmata, in quando questa viene riconosciuta come pubblicata da uno sviluppatore conosciuto.</p>

<p>Ci potrebbero essere dei ritardi nel rilascio di versioni firmate. Gli utenti che non intendono aspettare possono utilizzare la versione non firmata; se si hanno problemi ad avviare l'applicazione, si veda <a href="https://support.apple.com/kb/ph14369">come aprire un'applicazione di uno sviluppatore non identificato</a>.</p>
</div>

<div id="popover_content_osx_unsigned" style="display:none">
<h4 id="about_signing_unsigned">Firmato/Non firmato</h4>

<p>macOS ha una funzionalità chiamata Gatekeeper che aumenta la sicurezza rendendo difficile l'esecuzione di programmi non firmati. OmegaT per macOS è disponibile nelle due versioni, firmata e non firmata; le loro funzionalità sono le stesse ma è preferita dal sistema la versione firmata, in quando questa viene riconosciuta come pubblicata da uno sviluppatore conosciuto.</p>

<p>Ci potrebbero essere dei ritardi nel rilascio di versioni firmate. Gli utenti che non intendono aspettare possono utilizzare la versione non firmata; se si hanno problemi ad avviare l'applicazione, si veda <a href="https://support.apple.com/kb/ph14369">come aprire un'applicazione di uno sviluppatore non identificato</a>.</p>
</div>

<div id="popover_content_trunk" style="display:none">
    <p>La versione /trunk (alfa) riflette lo stato di sviluppo più recente. È consigliabile soltanto per sviluppatori esperti e collaudatori. Può essere ottenuta anche utilizzando il comando di subversion:</p>
    <p><kbd>svn checkout svn://svn.code.sf.net/p/omegat/svn/trunk omegat-svn</kbd></p>
</div>

<div id="popover_content_weekly" style="display:none">
  <p>Sono disponibili compilazioni periodiche su Sourceforge.</p>
</div>

<div id="popover_content_source" style="display:none">
    <p>I pacchetti di codice sorgente non sono richiesti dagli utenti e sono destinati solo agli sviluppatori. Si possono trovare nelle cartelle delle corrispondenti versioni compilate.</p>
</div>
</div>

