<div class="container">

<p class="lead">I liami inghjò vi permettenu di scaricà versioni sfarente d’OmegaT. S’è vo avete dubbitu apprupositu di a versione à scaricà, pudete impiegà u <a
href="#download-wizard" data-toggle="collapse">Selettore di scaricamentu</a>.</p>

<div id="download-wizard" class="panel panel-primary collapse">
  <div class="panel-heading">
    <h3 class="panel-title">Selettore di scaricamentu d’OmegaT</h3>
  </div>
  <div class="panel-body">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills">
            <li>
              <a href="#tab-install-type" data-toggle="tab">Tipu d’installazione</a>
            </li>
            <li>
              <a href="#tab-version" data-toggle="tab">Versione</a>
            </li>
            <li>
              <a href="#tab-operating-system" data-toggle="tab">Sistema d’operazione</a>
            </li>
            <li>
              <a href="#tab-jre" data-toggle="tab">Ambiente Java</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab-install-type">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="traditional" name="optType"/>Classica</label>
          <p>Cù sta versione, l’installazione hè fatta da l’utilizatore&nbsp;; ghjè quella di l’utilizatori avvezzi d’OmegaT. In casu di dubbitu, selezziunate sta versione.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-operating-system">
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optWindows" value="windows" name="optOS"/>Windows</label>
          <p>Per l’installazioni nant’à i sistemi Windows.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optOsx" value="osx" name="optOS"/>macOS</label>
          <p>Per l’installazioni nant’à i sistemi macOS.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optLinux" value="linux" name="optOS"/>Linux</label>
          <p>Per l’installazioni nant’à i sistemi Linux.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="other" name="optOS"/>Altri</label>
          <p>Per l’installazioni nant’à d’altri sistemi (cum’è FreeBSD è Solaris).<br/> <i>OmegaT pò esse installatu nant’à tuttu sistema d’operazione ch’impiega omancu a versione 1.8 di l’ambiente d’esecuzione Java.</i></p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-jre">
        <p class="with-windows-jre" style="display:none;">Sciglite s’ellu ci vole à scaricà OmegaT cù o senza l’ambiente d’esecuzione Java (JRE) inchjusu. S’è un JRE apprupriatu hè dighjà installatu nant’à u vostru urdinatore, selezziunate «&nbsp;Senza JRE&nbsp;». Osinnò, o s’è ùn vo site sicuru, selezziunate «&nbsp;Cù JRE&nbsp;».</p>
        <div class="with-linux-jre" style="display:none;">
          <p>Da bona regula, OmegaT pò esse lanciatu nant’à tuttu sistema Linux chì cuntene una versione apprupriata di l’ambiente d’esecuzione Java (JRE). Oghje, OmegaT richiesta a versione 1.8 di u JRE o un’altra più recente. Per verificà chì versione hè presente nant’à u vostru sistema Linux, aprite una cunsola (finestra di linea di cumanda) è entrite què&nbsp;:</p>
          <pre>$ <strong>java -version</strong></pre>
          <p>S’ellu ci hè quantunque dubbitu d’avè una versione apprupriata di u JRE, pudete sempre scaricà è installà una version d’OmegaT cù JRE. Stu metoda hè più sicuru è impedisce tuttu cunflittu di versioni (risicu di rimpiazzamentu o disinstallazione) perchè stu JRE serà solu impiegatu lucalmente da OmegaT.</p>
        </div>
        <div class="radio jre32">
          <label><input type="radio" class="radio-primary" value="jre" name="optJRE"/>Cù JRE</label>
          <p>A versione «&nbsp;autonoma&nbsp;» d’OmegaT, pruvista cù u so propiu ambiente d’esecuzione Java. U so scaricamentu serà più longu è a so installazione richiiderà più di spaziu nant’à u vostru discu duru, ma hè sicura di funziunà. In casu di dubbitu, sciglite st’ozzione.</p>
        </div>
        <div class="radio jre64">
          <label><input type="radio" class="radio-primary" value="jre64b" name="optJRE"/>Cù JRE 64-bit</label>
          <p>L’ambiente JRE pruvistu hè a versione 64-bit.</p>
          <p class="jrelatest">A versione «&nbsp;autonoma&nbsp;» d’OmegaT, pruvista cù u so propiu ambiente d’esecuzione Java. U so scaricamentu serà più longu è a so installazione richiiderà più di spaziu nant’à u vostru discu duru, ma hè sicura di funziunà. In casu di dubbitu, sciglite st’ozzione.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="nojre" name="optJRE"/>Senza JRE</label>
          <p>Sciglite st’ozzione s’è un ambiente d’esecuzione Java apprupriatu hè dighjà installatu nant’à l’urdinatore à u livellu di u sistema.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-version">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="standard" name="optVersion"/>Classica</label>
          <p>A versione «&nbsp;Classica&nbsp;» d’OmegaT hè pruvista cù una documentazione sana (omancu in inglese) è hè stata pruvata è verificata per caccià i penseri. Ghjè a versione ricumandata per i principianti.</p>
        </div>
      </div>
      <div class="panel-footer collapse text-center" style="display:none;" id="wizard-result">
        <p>Secondu à a vostra scelta, vi ricumandemu d’impiegà&nbsp;:</p>
        <h3><a id="wizard-result-version" href="#">qualchì versione</a></h3>
        <a id="wizard-result-btn" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-download"></span> Scaricà</a>

        <div id="wizard-result-osx" style="display:none;">
          <p>S’è sta versione ùn hè micca dispunibule, pudete pruvà di <a href="#" id="wizard-result-unsigned">scaricà a versione senza firma</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Cundizioni richieste</h3>

<h4>Cunfigurazione sistema</h4>

<p>OmegaT pò esse lanciatu nant’à tuttu sistema chì cuntene l’ambiente d’esecuzione Java (JRE) appostu. Oghje chì u JRE hè pruvistu cù OmegaT, ùn hè più bisognu di scaricalu staccatamente. L’installazione hè stata riisciuta nant’à tutte e piattaforme Windows (da a versione 98 fin’à oghje), macOS è Linux.</p>

<!-- Donation slider -->
<div class="donation-section section">
	<div class="donation-call">
		<h3>Nanzu di principià</h3>

		<span>Chì ne pensate di fà una dunazione à OmegaT&nbsp;? Bench’è stu prugramma fussi di rigalu, s’è vo pensate ch’ellu vi hè ghjuvevule, è ch’ellu vi piaceria d’esprime a vostra gratitudine, tandu pudete fà una dunazione nant’à u nostru contu Paypal.</span>

		<input id="donation-slider" type="range" min="5" max="100" step="5" value="35" data-rangeslider>

		<form action="https://www.paypal.com/cgi-bin/webscr" target="_paypal" id="donation-form" method="post">
			<input type="hidden" name="business" value="thank.you.omegat@gmail.com">
			<input type="hidden" name="cmd" value="_donations">
			<input type="hidden" name="item_name" value="Donation to OmegaT - multiplatform CAT tool">
			<input type="hidden" name="currency_code" value="USD">

			<input type="text" class="input-lg" id="amount" name="amount" size="3" value="35">&nbsp;USD <a class="btn btn-primary" href="#" id="donate-button">Fà una dunazione</a>
		</form>
	</div>
	{% asset donation.js %}
</div>

<h3 id="standard">Versione classica - {{site.data.versions.standard.name}}</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Piattaforma</th>
      <th>Istruzzione detagliate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for platform in site.data.downloads.standard.platforms %}
  <tr id="{{ platform.id }}">
      <td class="version-name">{% translate platform.name %}</td>
      <td>
      {% if platform.noInfo != true %}
          <span rel="popover" data-platform="{{ platform.name }}" data-title="{% translate platform.name %}" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
          <div id="info_{{ platform.name }}"></div>
      {% endif %}
      </td>
      <td>
      {% if platform.link != null %} <a class="btn btn-primary version-download" href="{{ platform.link }}" role="button">Scaricà</a></td>
      {% else %} <a class="btn btn-primary version-download" href="{{ site.data.downloads.baseUrl }}/{{ site.data.downloads.standard.folder }}/{{ site.data.versions.standard.name }}/OmegaT_{{ site.data.versions.standard.version }}_{{ platform.fileName}}/download" role="button">Scaricà</a></td>
      {% endif %}
      </td>
  </tr>
{% endfor %}
  </tbody>

</table>

<h3 id="downloadTrunk">Versione di sviluppu</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Piattaforma</th>
      <th>Istruzzione detagliate</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>Master</td>
      <td><span rel="popover" data-platform="master" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
      </td>
      <td><a class="btn btn-primary" href="{{ site.data.downloads.master }}" role="button">Scaricà</a></td>
  </tr>
  <tr>
      <td>Weekly Builds</td>
      <td><span rel="popover" data-platform="weekly" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
      </td><td><a class="btn btn-primary" href="{{ site.data.downloads.weekly }}" role="button">Scaricà</a></td>
  </tr>
  </tbody>
</table>

<h3>Versioni anziane</h3>

<p>Pudete sempre scaricà <a href="{{ site.data.downloads.legacy }}">d’anziane versioni</a> d’OmegaT.</p>

<p>E versioni anziane sò vechje versioni chì sò state rimpiazzate. Per a maiò parte di a ghjente, anu pocu interessu. Sarrimanenti, in certi casi, ste versioni anziane ponu esse ghjuvevule quandu ci sò ristrizzioni imposte da u sistema d’operazione o da a versione Java.</p>

<h3>Cù o senza JRE</h3>

<p>Per pudè funziunà, OmegaT richiede chì l’ambiente d’esecuzione Java (JRE) sia installatu nant’à u vostru urdinatore.</p>

<p>S’è vo site sicuru(a) chì una versione apprupriata di l’ambiente JRE hè dighjà installata nant’à u vostru urdinatore, pudete scaricà una versione d’OmegaT senza JRE. U so scaricamentu serà più rapidu è a so installazione richiiderà menù di spaziu nant’à u vostru discu duru. In stu casu, ùn selezziunate micca a versione predefinita ma preferite piuttostu una versione «&nbsp;Classica&nbsp;» o «&nbsp;Ultima&nbsp;» eppò selezziunate una versione cù a menzione «&nbsp;Java not included&nbsp;» o «&nbsp;without JRE&nbsp;».</p>

<p>S’è vo devite installà a versione d’OmegaT cù l’ambiente JRE quandu u JRE hè dighjà installatu, ùn ci seria micca cunflittu perchè e duie installazioni sò distinte. Dunque, l’installazione d’OmegaT cù u JRE hè a metoda a più sicura. S’è ùn site micca sicuru(a) d’avè una versione apprupriata di u JRE, selezziunate a versione d’OmegaT cù JRE (o a versione predefinita). </p>

<p><strong>Nota per l’utilizatori Linux</strong>&nbsp;: a maiò parte di e distribuzioni Linux sò pruviste cù un ambiente d’esecuzione Java ma certe messe in opera «&nbsp;Open Source&nbsp;» ùn funziuneghjanu micca currettamente cù OmegaT, penseru chì ùn si vede micca subitu subitu. Ricumandemu à i principianti Linux di sceglie una versione d’OmegaT cù JRE. L’utilizatori più tercani puderanu preferisce una installazione di u JRE d’Oracle (Sun tempi fà) à u livellu di u sistema.
</p>

<div id="popover_content_osx_signed" style="display:none">
<h4 id="about_signing">Nutarizata vs Senza firma</h4>

<p>macOS prova di fà cresce a sicurità per rende più difficiule di lancià prugrammi micca verificati.</p>

<p>OmegaT per macOS hè dispunibule in e duie versioni - nutarizata è senza firma - tremenduie cù e listesse funzioni, ma a versione nutarizata hè preferita perchè hè ricunnisciuta da u sistema cum’è a) publicata da un sviluppatore cunnisciutu è b) analizata da Apple.</p>

<p>Forse ci vulerà à aspettà una cria per a publicazione di a versione nutarizata. L’utilizatori chì ùn volenu (o ùn ponu) micca aspettà puderanu impiegà a versione senza firma&nbsp;; in casu di penseru per lancià st’appiecazione, fighjate <a href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac">cumu apre un’appiecazione da un sviluppatore micca identificatu</a>.</p>
</div>

<div id="popover_content_osx_unsigned" style="display:none">
<h4 id="about_signing">Nutarizata vs Senza firma</h4>

<p>macOS prova di fà cresce a sicurità per rende più difficiule di lancià prugrammi micca verificati.</p>

<p>OmegaT per macOS hè dispunibule in e duie versioni - nutarizata è senza firma - tremenduie cù e listesse funzioni, ma a versione nutarizata hè preferita perchè hè ricunnisciuta da u sistema cum’è a) publicata da un sviluppatore cunnisciutu è b) analizata da Apple.</p>

<p>Forse ci vulerà à aspettà una cria per a publicazione di a versione nutarizata. L’utilizatori chì ùn volenu (o ùn ponu) micca aspettà puderanu impiegà a versione senza firma&nbsp;; in casu di penseru per lancià st’appiecazione, fighjate <a href="https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac">cumu apre un’appiecazione da un sviluppatore micca identificatu</a>.</p>
</div>

<div id="popover_content_master" style="display:none">
    <p>A versione «&nbsp;alfa&nbsp;» cuntene a fasa a più recente di u sviluppu di l’appiecazione OmegaT. Hè ricumandata solu per i sviluppatori è esperimentadori tercani. Pò dinù esse ottenuta cù quella cumanda git&nbsp;:</p>
    <p><kbd>git clone https://git.code.sf.net/p/omegat/code omegat-code</kbd></p>
</div>

<div id="popover_content_weekly" style="display:none">
  <p>Custruzzioni periodiche sò dispunibule nant’ SourceForge.</p>
</div>

<div id="popover_content_source" style="display:none">
    <p>I pacchetti cuntenendu u codice di fonte ùn sò micca richiesti per l’adopru di u prugramma è sò fatti solu per i sviluppatori. Sò piazzati in i cartulari di e versioni custruite chì currispondenu.</p>
</div>
</div>
