<div class="container">
		
<p class="lead">Ниже приведены ссылки для загрузки различных версий OmegaT. Если вы затрудняетесь с выбором версии для загрузки, вы можете воспользоваться <a
href="#download-wizard" data-toggle="collapse">выбором варианта загрузки</a>.</p>

<div id="download-wizard" class="panel panel-primary collapse">
  <div class="panel-heading">
    <h3 class="panel-title">Выбор варианта загрузки OmegaT</h3>
  </div>
  <div class="panel-body">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills">
            <li>
              <a href="#tab-install-type" data-toggle="tab">Тип установки</a>
            </li>
            <li>
              <a href="#tab-version" data-toggle="tab">Версия</a>
            </li>
            <li>
              <a href="#tab-operating-system" data-toggle="tab">Операционная система</a>
            </li>
            <li>
              <a href="#tab-jre" data-toggle="tab">JRE</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab-install-type">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="traditional" name="optType"/>Обычная</label>
          <p>Эта версия предназначена для установки самим пользователем и должна быть знакома прежним пользователям OmegaT. Если сомневаетесь, выбирайте её.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-operating-system">
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optWindows" value="windows" name="optOS"/>Windows</label>
          <p>Для установки в Windows</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optOsx" value="osx" name="optOS"/>macOS.</label>
          <p>Для установки в macOS.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" id="optLinux" value="linux" name="optOS"/>GNU/Linux</label>
          <p>Для установки в GNU/Linux.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="other" name="optOS"/>Другая</label>
          <p>Для установки в других операционных системах (например, FreeBSD или Solaris).<br/> <i>OmegaT может быть установлена в любой операционной системе, где можно запустить Java runtime environment версии 1.6.</i></p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-jre">
        <p class="with-windows-jre" style="display:none;">Выберите, какую версию OmegaT вы хотите загрузить: со средой исполнения Java (Java Runtime Environment — JRE) или без нее. Если подходящая версия JRE уже установлена в вашей системе Windows, то выбирайте «Без JRE». Если нет, или если вы не уверены, выбирайте «С JRE».</p>
        <div class="with-linux-jre" style="display:none;">
          <p>OmegaT обычно запускается на любой системе GNU/Linux, где может быть установлена подходящая версия Java Runtime Environment (JRE). Для работы OmegaT требуется JRE версии 1.6 или более новая. Чтобы узнать, установлена ли JRE в вашей системе GNU/Linux и какой версии, откройте консоль (окно терминала для ввода команд) и напечатайте:</p>
          <pre>$ <strong>java -version</strong></pre>
          <p>Если вы не знаете, есть ли в вашей системе подходящая версия JRE, вы можете загрузить и установить версию OmegaT, поставляемую с JRE. Эта версия JRE будет использована только для запуска OmegaT, и не будет конфликтовать, переопределять или удалять любые другие установки JRE, а значит она является вполне безопасной для использования.</p>
        </div>
        <div class="radio jre32">
          <label><input type="radio" class="radio-primary" value="jre" name="optJRE"/>С JRE</label>
          <p>Версия OmegaT «с батарейками в комплекте». Поставляется с собственной Java Runtime Environment. Эта версия будет дольше загружаться и потребует больше места на вашем диске, но вы можете быть уверены, что она заработает. Если сомневаетесь, выбирайте этот вариант.</p>
        </div>
        <div class="radio jre64">
          <label><input type="radio" class="radio-primary" value="jre64b" name="optJRE"/>С 64-разрядной JRE</label>
          <p>Поставляется с 64-разрядной версией JRE.</p>
          <p class="jrelatest">Версия OmegaT «с батарейками в комплекте». Поставляется с собственной Java Runtime Environment. Эта версия будет дольше загружаться и потребует больше места на вашем диске, но вы можете быть уверены, что она заработает. Если сомневаетесь, выбирайте этот вариант.</p>
        </div>
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="nojre" name="optJRE"/>Без JRE</label>
          <p>Если вы уверены, что на вашем компьютере уже установлена подходящая версия Java Runtime Environment, то вы можете выбрать этот вариант загрузки.</p>
        </div>
      </div>
      <div class="tab-pane fade" id="tab-version">
        <div class="radio">
          <label><input type="radio" class="radio-primary" value="standard" name="optVersion"/>Стандартная</label>
          <p>«Стандартная» версия OmegaT включает в себя полное руководство пользователя (по крайней мере на английском языке) и обычно прошла проверку временем для исключения ошибок. Это рекомендованная версия для пользователей, не имеющих опыта работы с OmegaT.</p>
        </div>
      </div>
      <div class="panel-footer collapse text-center" style="display:none;" id="wizard-result">
        <p>Основываясь на ваших ответах, мы рекомендуем вам:</p>
        <h3><a id="wizard-result-version" href="#">какая-то версия</a></h3>
        <a id="wizard-result-btn" class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-download"></span> Загрузка</a>
        <div id="wizard-result-osx" style="display:none;">
          <p>Если эта версия недоступна, вы можете попробовать <a href="#" id="wizard-result-unsigned">загрузить неподписанную версию</a>.</p> 
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Требования</h3>

<h4>Системные требования</h4>

<p>OmegaT будет работать на любой системе, в которой была или может быть установлена среда JRE (Java Runtime Environment). В настоящий момент среда JRE поставляется вместе с OmegaT, и её необязательно загружать отдельно. OmegaT успешно устанавливается в операционную систему Windows (все версии, начиная с 98), macOS и GNU/Linux.</p>

<h3 id="downloads">Стандартная версия - {{site.data.versions.standard.name}}</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Платформа</th>
      <th>Подробные инструкции</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

{% for platform in site.data.downloads.standard.platforms %}
  
  <tr id="{{ platform.id }}">
      <td class="version-name">{% translate platform.name %}</td>
      <td>
      
      {% if platform.noInfo != true %}
          
          <span rel="popover" data-platform="{{ platform.name }}" data-title="{% translate platform.name %}" data-content="" class="glyphicon glyphicon-info-sign"><!----></span>
          <div id="info_{{ platform.name }}"></div>
      
      {% endif %}
      
      </td>
      <td>
      {% if platform.link != null %} <a class="btn btn-primary version-download" href="{{ platform.link }}" role="button">Загрузить</a></td>
      {% else %} <a class="btn btn-primary version-download" href="{{ site.data.downloads.baseUrl }}/{{ site.data.downloads.standard.folder }}/{{ site.data.versions.standard.name }}/OmegaT_{{ site.data.versions.standard.version }}_{{ platform.fileName}}/download" role="button">Загрузить</a></td>
      
      {% endif %}
      
      </td>
  </tr>

{% endfor %}
  
  </tbody>

</table>

<h3 id="downloadTrunk">Версия в разработке</h3>

<table class="table table-striped downloads">
  <thead>
    <tr>
      <th>Платформа</th>
      <th>Подробные инструкции</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>Транк</td>
      <td><!----><span rel="popover" data-platform="trunk" data-content="" class="glyphicon glyphicon-info-sign"></span>
      </td>
      <td><a class="btn btn-primary" href="{{ site.data.downloads.trunk }}" role="button">Загрузка</a></td>
  </tr>
  <tr>
      <td>Ночные сборки</td>
      <td><!----><span rel="popover" data-platform="nightly" data-content="" class="glyphicon glyphicon-info-sign"></span>
      </td><td><a class="btn btn-primary" href="{{ site.data.downloads.nightly }}" role="button">Загрузка</a></td>
  </tr>
  </tbody>
</table>

<h3>Устаревшие версии</h3>

<p>Вы всё ещё можете найти <a href="{{ site.data.downloads.legacy }}">устаревшие версии</a> OmegaT.</p>

<p>Устаревшие версии — это версии, которые были замещены более новыми версиями. Для большинства пользователей они не представляют никакого интереса. Однако некоторые пользователи могут столкнуться с ограничениями (наложенными операционной системой или версией Java), что может ограничить их выбор только устаревшими версиями.</p>

<h3>С/без JRE</h3>

<p>Для своей работы OmegaT требует, чтобы на вашем компьютере была установлена Java Runtime Environment (JRE).</p>

<p>Если вы уверены, что подходящая версия JRE уже установлена на вашем компьютере, вы можете загрузить OmegaT без JRE. Загрузка произойдёт быстрее, а для установки потребуется меньше места на вашем диске. В данном случае не нужно выбирать версию по умолчанию, а выбрать другую версию (например стандартную или последнюю), а затем выбрать версию "без JRE".</p>

<p>Если вы установите версию OmegaT с JRE, даже если на вашем компьютере уже установлена JRE, то JRE в составе OmegaT будет установлена отдельно и не будет с ней конфликтовать. Таким образом, установка OmegaT с JRE всегда безопасна. Если вы не уверены, есть ли на вашем компьютере подходящая версия JRE, выбирайте версию с JRE (или версию по умолчанию). </p>

<p><strong>Пользователям macOS</strong>: JRE включена в версию для macOS по умолчанию; версии без JRE для macOS не существует.</p>

<p><strong>Пользователям Linux</strong>: большинство дистрибутивов Linux поставляются с Java Runtime Environment, однако некоторые реализации JRE с открытым исходным кодом не корректно работают с OmegaT (хотя сразу это может быть не очевидно). Если вы относительно недавно используете Linux, мы советуем вам выбирать версию OmegaT с JRE. Более опытные пользователи могут захотеть установить JRE от Oracle (ранее Sun) на системном уровне.
</p>

<div id="popover_content_osx_signed" style="display:none">
<h4 id="about_signing">Подписанная/Неподписанная</h4>

<p>macOS включает в себя функциональность под названием Gatekeeper, которая усиливает безопасность, не позволяя запускать неподписанные программы. OmegaT для macOS доступна как в подписанном, так и в неподписанном вариантах. Функционально они не отличаются, однако подписанная версия более предпочтительна, так как система определяет её как созданную известным разработчиком.</p>

<p>Подписанные версии могут выходить с задержкой. Пользователи не готовые ждать могут загрузить неподписанную версию. Если у вас возникли трудности при запуске приложения, почитайте <a href="https://support.apple.com/kb/ph14369">как запустить приложение неизвестного разработчика</a>.</p>
</div>

<div id="popover_content_osx_unsigned" style="display:none">
<h4 id="about_signing_unsigned">Подписанная/Неподписанная</h4>

<p>macOS включает в себя функциональность под названием Gatekeeper, которая усиливает безопасность, не позволяя запускать неподписанные программы. OmegaT для macOS доступна как в подписанном, так и в неподписанном вариантах. Функционально они не отличаются, однако подписанная версия более предпочтительна, так как система определяет её как созданную известным разработчиком.</p>

<p>Подписанные версии могут выходить с задержкой. Пользователи не готовые ждать могут загрузить неподписанную версию. Если у вас возникли трудности при запуске приложения, почитайте <a href="https://support.apple.com/kb/ph14369">как запустить приложение неизвестного разработчика</a>.</p>
</div>

<div id="popover_content_trunk" style="display:none">
    <p>Версия из /trunk (альфа-версия) отражает наиболее актуальное состояние процесса разработки программы. Она рекомендуется только для серьёзных разработчиков и тестировщиков. Также её можно получить, выполнив команду subversion:</p>
    <p><kbd>svn checkout svn://svn.code.sf.net/p/omegat/svn/trunk omegat-svn</kbd></p>
</div>

<div id="popover_content_nightly" style="display:none">
  <p>Переодические сборки доступны на Sourceforge.</p>
</div>

<div id="popover_content_source" style="display:none">
    <p>Пакеты исходного кода не требуются для конечных пользователей и предназначены только для разработчиков. Их можно найти в отдельных папках соответствующих скомпилированных версий.</p>
</div>
</div>

